

.description{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section{
    margin: 10px 30px;
    margin-bottom: 30px;
    width: 50%;
}

input{
    padding: 6px;
    margin-top: 6px;
    width: 400px;
    height: 40px;
}

label{
    display: inline-block;
    width: 200px;
}

.name, .school, .city{
    padding: 6px;
    margin-top: 6px;
    width: 198px;
    height: 40px;
}

h3{
    font-size: 28px;
    color: var(--title-color);
}

h2{
    font-size: 48px;
    color: var(--title-color);
    text-shadow: -1px 0 var(--title-color), 0 1px var(--title-color), 1px 0 var(--title-color), 0 -1px var(--title-color);
    padding: 5px;
    margin: 20px 100px;
    background-color: white;
    width: fit-content;
}


.line{
    border: 1px solid var(--title-color);
}

.w3-border{
    background-color: white;
}

.bar{
    background-color: #ffd500;
    font-weight: bolder;
}

.w3-center {
    text-align: center!important;
    line-height: 1.5;
}

.w3-border {
    border: 1px solid #ccc!important;
    max-width: 750px;
}

.last-entry{
    font-weight: bolder;
    font-size: 25px;
}

html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* graphs */


#q-graph {
    display: block;
    /* fixes layout wonkiness in FF1.5 */
    position: relative;
    width: 600px;
    height: 300px;
    margin: 1.1em 7em ;
    padding: 0;
    background: transparent;
    font-size: 15px;
}

#q-graph caption {
    caption-side: top;
    width: 600px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    top: -40px;
    position: relative;
    z-index: 10;
    font-size: 20px;
    float: right;
}

#q-graph tr, #q-graph th, #q-graph td {
    position: absolute;
    bottom: 0;
    width: 150px;
    z-index: 2;
    margin: 0;
    padding: 0;
    text-align: center;
}

#q-graph td {
    transition: all 0.3s ease;
}
#q-graph td:hover {
    background-color: #4d4d4d;
    opacity: 0.9;
    color: white;
}

#q-graph thead tr {
    left: 100%;
    top: 50%;
    bottom: auto;
    margin: -2.5em 0 0 5em;
}

#q-graph thead th {
    width: 7.5em;
    height: auto;
    padding: 0.5em 1em;
}

#q-graph thead th.sqrt {
    top: 0;
    left: -80px;
    line-height: 2;
}

#q-graph thead th.rational {
    top: 2.75em;
    line-height: 2;
    left: -80px;
}

#q-graph thead th.non {
    top: 5.5em;
    line-height: 2;
    left: -80px;
}

#q-graph tbody tr {
    height: 296px;
    padding-top: 2px;
    border-right: 1px dotted #C4C4C4;
    color: #AAA;
}

#q-graph #q1 {
    left: 0;
}

#q-graph #q2 {
    left: 150px;
}

#q-graph #q3 {
    left: 300px;
}

#q-graph #q4 {
    left: 450px;
    border-right: none;
}

#q-graph tbody th {
    bottom: -1.75em;
    vertical-align: top;
    font-weight: normal;
    color: #333;
}

#q-graph .bar {
    width: 30px;
    border: 1px solid;
    border-bottom: none;
    color: #000;
}

#q-graph .bar p {
    margin: 5px 0 0;
    padding: 0;
    opacity: 0.4;
}

#q-graph .sqrt {
    left: 33px;
    background-color: #39cccc;
    border-color: transparent;
}

#q-graph .rational {
    left: 63px;
    background-color: #7fdbff;
    border-color: transparent;
}

#q-graph .non {
    left: 93px;
    background-color: #aebeca;
    border-color: transparent;
}

#ticks {
    position: relative;
    top: -300px;
    left: 2px;
    width: 596px;
    height: 300px;
    z-index: 1;
    margin-bottom: -300px;
    font-size: 10px;
    font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
    position: relative;
    border-bottom: 1px dotted #C4C4C4;
    width: 600px;
}

#ticks .tick p {
    position: absolute;
    left: -5em;
    top: -0.8em;
    margin: 0 0 0 0.5em;
}

@media screen and (max-width: 1100px) {
    .description{
        flex-direction: column;
    }
    section
    {
        width: auto;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1310px) {
    section{
        overflow: auto;
    }

}
