

/* Full-width input fields */
/*.form input[type=text], input[type=password], input[type=date] {*/
/*    width: 100%;*/
/*    padding: 12px 20px;*/
/*    margin: 8px 0;*/
/*    display: inline-block;*/
/*    box-sizing: border-box;*/
/*}*/

.form input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}


.form .clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.bold{
    color: var(--div-gree-text);
    margin: 20px 100px 40px;
    font-size: 20px;
    width: fit-content;

}

h2{
    font-size: 48px;
    color: var(--title-color);
    text-shadow: -1px 0 var(--title-color), 0 1px var(--title-color), 1px 0 var(--title-color), 0 -1px var(--title-color);
    padding: 5px;
    margin: 20px 100px;
    background-color: white;
    width: fit-content;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.existing-email{
    color: red;
}

label{
    display: block;
    margin-bottom: 10px;

}

input{
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 500px;
    height: 30px;
}

form{
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 60px;
    border: #000000;
}

.sign-btn.Button{
    float: right;
    margin: 0;
    padding: 0;
    width:500px;
    height: 50px;
}

.back-btn.sign-btn.Button{
    width: 150px;
}