
html{
    --header-color: #119eac;
    --header-text: #f4e2b6;
    --header-sub-text: #fcf8eb;
    --body-color: #b7f8f2;
    --description-color: #f2fcfb;
    --div-gree-text: #46555e;
    --title-color: #1072ba;
    --button-color: #ffc200;
}